doctype html
html(⚡4email='')
  head
    meta(charset='utf-8')
    style(amp4email-boilerplate='').
      body{visibility:hidden}
    script(async='', src='https://cdn.ampproject.org/v0.js')
    style.
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      a[href]{color: white;}
      .wrapper {
        font-family: arial;
        width: 100%;
        background-color: #eeeeee;
      }

      .content {
        background-color: #f7f7f7;
        max-width: 600px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
      }

      .header {
        font-weight: bold;
        font-size: 2em;
        color: #000044;
      }

      .txt {
        padding-top: 40px;
        font-size: 16px;
        color: #777777;
        text-align: left;
      }

      .strong {
        font-weight: bold;
      }

      .button {
        display: block;
        text-decoration: none;
        width: 200px;
        margin: 40px auto 0 auto;
        font-weight: normal;
        border-width: 15px 30px;
        color: #ffffff;
        font-size: 18px;
        padding: 10px 5px;
        background: #000044;
        border-radius: 3px;
      }
  body
    .wrapper
      .content
        header.header
          | Welcome to Your Online Logbook
        .txt
          p.strong Thank you for choosing our online logbook.
          |       Click the button below to confirm your email address and start filling the logbook
        //@TODO change localhost before deployment
        - url = "http://localhost:3001/userValidation?token="+ authToken;
        a.button(href=url, target='_blank' style='color: white;') Confirm email