doctype html
html(⚡4email='')
  head
    meta(charset='utf-8')
    style(amp4email-boilerplate='').
      body{visibility:hidden}
    script(async='', src='https://cdn.ampproject.org/v0.js')
    style(amp-custom='').
      @media only screen and (max-width:600px) {p, ul li, ol li, a { font-size:16px; line-height:150% } h1 { font-size:32px; text-align:center; line-height:120% } h2 { font-size:26px; text-align:center; line-height:120% } h3 { font-size:20px; text-align:center; line-height:120% } h1 a { font-size:32px } h2 a { font-size:26px } h3 a { font-size:20px } .es-menu td a { font-size:16px } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:16px } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:16px } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px } *[class="gmail-fix"] { display:none } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center } .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right } .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left } .es-m-txt-r amp-img { float:right } .es-m-txt-c amp-img { margin:0 auto } .es-m-txt-l amp-img { float:left } .es-button-border { display:inline-block } a.es-button { font-size:16px; display:inline-block; border-width:15px 30px 15px 30px } .es-adaptive table{ width:100% } .es-content table, .es-header table, .es-footer table, .es-content{ width:100%; max-width:600px }   .esd-block-html table { width:auto } table.es-social td { display:inline-block } }
      .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li {
      line-height:120%;
      font-size:12px;
      color:#CCCCCC;
      }
      .es-p15t {
      padding-top:15px;
      }
      .es-p35r {
      padding-right:35px;
      }
      .es-content-body a {
      color:#ED8E20;
      }
      .es-header-body p, .es-header-body ul li, .es-header-body ol li {
      color:#FFFFFF;
      font-size:14px;
      }
      .es-p35b {
      padding-bottom:35px;
      }
      .es-menu td a img {
      display:inline-block;
      }
      .es-p35l {
      padding-left:35px;
      }
      .es-p10r {
      padding-right:10px;
      }
      .es-button-border {
      border-style:solid solid solid solid;
      border-color:transparent transparent transparent transparent;
      background:#ED8E20;
      border-width:0px 0px 0px 0px;
      display:inline-block;
      border-radius:5px;
      width:auto;
      }
      p, ul li, ol li {
      font-size:15px;
      font-family:"open sans", "helvetica neue", helvetica, arial, sans-serif;
      line-height:150%;
      }
      .es-p15b {
      padding-bottom:15px;
      }
      table tr {
      border-collapse:collapse;
      }
      .es-p10b {
      padding-bottom:10px;
      }
      h1, h2, h3, h4, h5 {
      Margin:0;
      line-height:120%;
      font-family:"open sans", "helvetica neue", helvetica, arial, sans-serif;
      }
      .es-footer-body a {
      color:#333333;
      font-size:14px;
      }
      .es-p10l {
      padding-left:10px;
      }
      h2 a {
      font-size:30px;
      }
      a.es-button {
      border-style:solid;
      border-color:#ED8E20;
      border-width:15px 30px 15px 30px;
      display:inline-block;
      background:#ED8E20;
      border-radius:5px;
      font-size:16px;
      font-family:"open sans", "helvetica neue", helvetica, arial, sans-serif;
      font-weight:bold;
      font-style:normal;
      line-height:120%;
      color:#FFFFFF;
      text-decoration:none;
      width:auto;
      text-align:center;
      }
      img {
      display:block;
      border:0;
      outline:none;
      text-decoration:none;
      }
      .es-content{
      table-layout:fixed;
      width:100%;
      }
      .es-p25t {
      padding-top:25px;
      }
      h1 {
      font-size:36px;
      font-style:normal;
      font-weight:bold;
      color:#333333;
      }
      ul li, ol li {
      Margin-bottom:15px;
      }
      h2 {
      font-size:30px;
      font-style:normal;
      font-weight:bold;
      color:#333333;
      }
      h3 {
      font-size:20px;
      font-style:normal;
      font-weight:bold;
      color:#333333;
      }
      p, hr {
      Margin:0;
      }
      .es-infoblock a {
      font-size:12px;
      color:#CCCCCC;
      }
      .es-wrapper-color {
      background-color:#EEEEEE;
      }
      html, body {
      width:100%;
      font-family:"open sans", "helvetica neue", helvetica, arial, sans-serif;
      }
      table {
      border-collapse:collapse;
      border-spacing:0px;
      }
      .es-content-body p, .es-content-body ul li, .es-content-body ol li {
      color:#333333;
      }
      table td, html, body{
      padding:0;
      Margin:0;
      }
      a {
      font-family:"open sans", "helvetica neue", helvetica, arial, sans-serif;
      font-size:15px;
      text-decoration:none;
      }
      a[x-apple-data-detectors] {
      color:inherit;
      text-decoration:none;
      font-size:inherit;
      font-family:inherit;
      font-weight:inherit;
      line-height:inherit;
      }
      .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li {
      color:#333333;
      font-size:14px;
      }
      .es-menu td {
      border:0;
      }
      .es-p40t {
      padding-top:40px;
      }
      .es-menu td a {
      text-decoration:none;
      display:block;
      }
      .es-button {
      text-decoration:none;
      }
      s {
      text-decoration:line-through;
      }
      .es-p20b {
      padding-bottom:20px;
      }
      h1 a {
      font-size:36px;
      }
      .es-content-body {
      background-color:#FFFFFF;
      }
      h3 a {
      font-size:20px;
      }
      .es-header-body a {
      color:#FFFFFF;
      font-size:14px;
      }
  body
    .es-wrapper-color
      table.es-content(cellspacing='0', cellpadding='0', align='center')
        tbody
          tr
            td(align='center')
              table.es-content-body(width='600', cellspacing='0', cellpadding='0', bgcolor='#ffffff', align='center')
                tbody
                  tr
                    td.es-p40t.es-p35b.es-p35r.es-p35l(style='background-color: #f7f7f7;', bgcolor='#f7f7f7', align='left')
                      table(width='100%', cellspacing='0', cellpadding='0')
                        tbody
                          tr
                            td(width='530', valign='top', align='center')
                              table(width='100%', cellspacing='0', cellpadding='0', role='presentation')
                                tbody
                                  tr
                                    td.es-p15b(align='center')
                                      h2(style="color: #333333; font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;") Welcome to Your Online Logbook
                                  tr
                                    td.es-p15t.es-p10b(align='left')
                                      p(style='font-size: 16px; color: #777777;')
                                        strong Thank you for choosing our online logbook.
                                        br
                                        | Click the button below to confirm your email address and start filling the logbook.
                                  tr
                                    td.es-p25t.es-p20b.es-p10r.es-p10l.es-m-txt-c(align='center')
                                      span.es-button-border(style='border-radius: 50px; background: #000044;')
                                        //@TODO
                                        //change localhost before deployment
                                        - url = "http://localhost:3001/userValidation?token="+ authToken;
                                        a.es-button(href=url, target='_blank', style='font-weight: normal; border-width: 15px 30px; color: #ffffff; font-size: 18px; background: #000044; border-color: #000044; border-radius: 50px;') Confirm email
